
@import "bootstrap-sprockets";
@import "bootstrap";


#autoarts {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 210px;
}

.box img {
  width: 100%;
}

.panel-body {
  padding: 5px;
  margin-top: 0px;
}